.msg{
    color:red;
    font-size: 12px;
}

.msg-group{
    display: flex;
}

.msg-group>.msg{
    justify-content: space-between;
    width: calc(50%-20px);
}

.msg-group{
    width: calc(100%-40px);
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#btn-loading{
    display: none;
}