#logo-loading{
    border-radius: 100%;
    animation: fa-blink 0.7s linear infinite;
}

#logo-menu{
    width: 33px;
    height: 33px;
    line-height: 35px;
    text-align: center;
    background-color: rgba(255,255,255,.9);
    color: #363839;
    border-radius: 100%;
    /* margin-right: 10px; */
}

#avatar-menu img{
    object-fit: cover;
}

#logo-menu-area{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.brand-text{
    font-size: 18px !important;
}

@keyframes fa-blink {
    0% { opacity: 1; }
    100% { opacity: 0; }
}